.avaliação-card{
    display: flex;  
    width: 250px;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color:#2fff;
    padding: 10px 10px;

}