.uploadImg{
    position: fixed;
    height:50%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    bottom: 61%;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out; 
}
.uploadImg.open{
    margin-top: 50%;
    transform: translateY(100%);
}